<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

  <Appenders>

    <RollingFile name="FILEOUT" filePattern="{{ HOME }}/logs/design-studio/design-studio-backend-%d{yyyy-MM-dd}.log">
      <Policies>
	    <TimeBasedTriggeringPolicy />
      </Policies>
      <PatternLayout pattern="%-4r [%t] %-5p %d{yyyy-MM-dd'T'HH:mm:ss.SSS} %c %x - %m  %n" />
    </RollingFile>
   
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%-4r [%t] %-5p %d{yyyy-MM-dd'T'HH:mm:ss.SSS} %c %x - %m  %n" />
    </Console>


  </Appenders>

  <Loggers>

    <Logger name="com.denodo" level="error" />

    <Logger name="com.denodo.webapp.security.sso" level="info" />

    <Root level="error">
      <AppenderRef ref="FILEOUT" />
    </Root>

  </Loggers>

</Configuration>
