<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
  <Appenders>

    <RollingFile name="FILEOUT" filePattern="{{ HOME }}/logs/apache-tomcat/denodo-graphql-service-%d{yyyy-MM-dd}.log">
      <Policies>
        <TimeBasedTriggeringPolicy />
      </Policies>
      <PatternLayout pattern="%-4r [%t] %-5p %d{yyyy-MM-dd'T'HH:mm:ss.SSS} %c %x - %m  %n"/>
    </RollingFile>

    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%-4r [%t] %-5p %d{yyyy-MM-dd'T'HH:mm:ss.SSS} %c %x - %m  %n"/>
    </Console>

  </Appenders>

  <Loggers>
    <Logger name="org.springframework.boot.web.embedded.tomcat.TomcatWebServer" level="ERROR" />
    <Logger name="com.denodo.connect.graphql" level="ERROR"/>

    <Root level="ERROR">
      <AppenderRef ref="FILEOUT"/>
      <AppenderRef ref="STDOUT"/>
    </Root>

  </Loggers>
</Configuration>
