#Thu Apr 29 15:50:54 CDT 2021
com.denodo.vdb.catalog.storage.catalog={{ DENODO_STORAGE_CATALOG | default('') }}
com.denodo.vdb.catalog.storage.datasource.testOnBorrow={{ DENODO_STORAGE_DATASOURCE_TESTONBORROW | default('true') }}
com.denodo.vdb.catalog.storage.datasource.maxActive={{ DENODO_STORAGE_DATASOURCE_MAXACTIVE | default('100') }}
com.denodo.vdb.catalog.storage.plugin={{ DENODO_STORAGE_PLUGIN | default('postgresql') }}
com.denodo.vdb.catalog.storage.encryptedPassword={{ DENODO_STORAGE_ENCRYPTEDPASSWORD | default('') }}
com.denodo.vdb.catalog.storage.sharedMetadata={{ DENODO_STORAGE_SHAREDMETADATA | default('true') }}
com.denodo.vdb.catalog.storage.classpath={{ DENODO_STORAGE_CLASSPATH | default('postgresql-10') }}
com.denodo.vdb.catalog.storage.uri={{ DENODO_STORAGE_URI | default('jdbc\:postgresql\://postgres\:5432/denodo') }}
com.denodo.vdb.catalog.storage.datasource.initialSize={{ DENODO_STORAGE_DATASOURCE_INITIALSIZE | default('4') }}
com.denodo.vdb.catalog.storage.datasource.validationQuery={{ DENODO_STORAGE_DATASOURCE_VALIDATIONQUERY | default('Select 1') }}
com.denodo.vdb.catalog.storage.user={{ DENODO_STORAGE_USER | default('denodo') }}
com.denodo.vdb.catalog.storage.driver={{ DENODO_STORAGE_DRIVER | default('org.postgresql.Driver') }}
com.denodo.vdb.catalog.storage.version={{ DENODO_STORAGE_VERSION | default('10') }}
com.denodo.vdb.catalog.storage.schema={{ DENODO_STORAGE_SCHEMA | default('') }}
