###############################################################################
#                                                                             #
#             ARNIndex Configuration File                                     #
#               (c) Denodo Technologies                                       #
#                                                                             #
###############################################################################

# Denodo Home
user.dir=/opt/denodo

# Server
Server/url=arnIndex
Server/registryURL=localhost
Server/registryPort=9000
Server/shutdownPort=8999
Server/factoryPort=8998
Server/iconRoute=/opt/denodo/resources/arn/ico

# Derby DataSource
ARNIndexDataSourceName=derby

# JDBC DataSource
ComplexDataSource/driverClassName=org.apache.derby.jdbc.EmbeddedDriver
ComplexDataSource/url=jdbc:derby:arnIndexDB
ComplexDataSource/user=derby
ComplexDataSource/password=3w0iP0luEe7YAAoxoLkmXA\=\=

#Configuration
ConfigurationManagerFactory/className=com.denodo.arn.index.configuration.ConfigurationManagerImpl
ConfigurationRepositoryFactory/className=com.denodo.arn.index.configuration.repository.ConfigurationRepositoryImpl
ConfigurationLoader/applicationFolder=/opt/denodo/metadata/arn-index/data

#Metadata
MetadataRepositoryFactory/className=com.denodo.configuration.metadata.repository.MetadataRepositoryImpl
MetadataManager/className=com.denodo.configuration.metadata.manager.MetadataManagerImpl
MetadataManagerImpl/applicationFolder=/opt/denodo/metadata/arn-index/elements
MetadataManagerImpl/pluginsFolder=/opt/denodo/work/arn-index/plugins

#Entity Identifier Retriever
EntityIdentifierRetrieverFactory/retrieverClassName=com.denodo.util.sql.GenericEntityIdentifierRetriever
GenericEntityIdentifierRetriever/query=values IDENTITY_VAL_LOCAL()

#Lucene
LuceneHelper/mergeFactor=10
LuceneHelper/maxBufferedDocs=1000
LuceneHelper/maxBufferedDeleteTerms=1000
LuceneHelper/maxMergeDocs=2147483647
LuceneHelper/maxFieldLength=1000000
LuceneHelper/writeLockTimeout=1000
LuceneHelper/minTermFreq=1
LuceneHelper/minDocFreq=1

###########################################################################
#  Java Security Parameters                                               #
###########################################################################
#com.denodo.security.ssl.enabled=
#com.denodo.security.ssl.keyStore=
#com.denodo.security.ssl.keyStorePassword=
#com.denodo.security.ssl.trustStore=

###############################################################################
# JVM options
###############################################################################

java.env.DENODO_OPTS_START=-mx1024m
java.env.DENODO_OPTS_STOP=
com.denodo.vdb.install=/opt/denodo
ComplexDataSource/password/encrypted=true
#com.denodo.security.ssl.keyStorePassword.encrypted=
#com.denodo.security.ssl.trustStorePassword.encrypted=