<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
--><Server port="${com.denodo.tomcat.shutdown.port}" shutdown="SHUTDOWN">
    <Listener className="org.apache.catalina.startup.VersionLoggerListener"/>
    <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener"/>
    <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener"/>
    <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener"/>

    <!-- Global JNDI resources -->
    <GlobalNamingResources>

        <!-- Editable user database that can also be used by
             UserDatabaseRealm to authenticate users
        -->
        <Resource auth="Container" description="User database that can be updated and saved" factory="org.apache.catalina.users.MemoryUserDatabaseFactory" name="UserDatabase" pathname="conf/tomcat-users.xml" type="org.apache.catalina.UserDatabase"/>

        <!-- Virtual DataPort Data source required by the Denodo OData Service -->
        

    </GlobalNamingResources>

    <!-- Define the Tomcat Stand-Alone Service -->
    <Service name="${com.denodo.tomcat.engine.name}">

        

        {% if DENODO_SSL_ENABLED is defined and DENODO_SSL_ENABLED == 'true' %}
        <!-- Define a SSL Coyote HTTP/1.1 Connector on port 8443 -->        
        <Connector port="${com.denodo.tomcat.https.port}"
                   maxHttpHeaderSize="8192"
                   maxThreads="150"
                   minSpareThreads="25"
                   scheme="https"
                   secure="true"
                   SSLEnabled="true"
                   protocols="TLSv1.2"
                   honorCipherOrder="true"
                   sendReasonPhrase="true"
                   keystoreFile="${com.denodo.security.ssl.keyStore}" 
                   keystorePass ="${com.denodo.security.ssl.keyStorePassword}"/>
        {% else %}
        <!-- Define a non-SSL HTTP/1.1 Connector -->
        <Connector URIEncoding="UTF-8"
                   connectionTimeout="20000"
                   maxThreads="150" 
                   minSpareThreads="25" 
                   port="${com.denodo.tomcat.http.port}" 
                   redirectPort="${com.denodo.tomcat.https.port}" 
                   relaxedQueryChars="[]" 
                   sendReasonPhrase="true"/>
        {% endif %}

        <!-- Define the top level container in our container hierarchy -->
        <Engine defaultHost="localhost" name="${com.denodo.tomcat.engine.name}">

            <!-- Use the LockOutRealm to prevent attempts to guess user passwords
                 via a brute-force attack -->
            <Realm className="org.apache.catalina.realm.LockOutRealm">

                <!-- This Realm uses the UserDatabase configured in the global JNDI
                     resources under the key "UserDatabase".  Any edits
                     that are performed against this UserDatabase are immediately
                     available for use by the Realm.  -->
                <Realm className="org.apache.catalina.realm.UserDatabaseRealm" resourceName="UserDatabase"/>
            </Realm>

            <Host autoDeploy="false" deployOnStartup="false" name="localhost" unpackWARs="true">

                <!--
                <Valve className="org.apache.catalina.valves.AccessLogValve"
                       directory="../../logs/apache-tomcat"  prefix="http_access." suffix=".log"
               pattern="common" resolveHosts="false"/>
                -->
                <Context className="org.apache.catalina.core.StandardContext" docBase="ROOT" path="" wrapperClass="org.apache.catalina.core.StandardWrapper">
                </Context>

            </Host>
        </Engine>
    </Service>
</Server>