###########################################################################
#                                                                         #
#                   Solution Manager Configuration File                   #
#                        (c) Denodo Technologies                          #
#                                                                         #
###########################################################################

# License Manager Configuration
com.denodo.license.host={{ DENODO_LICENSE_SERVER }}
com.denodo.license.port=10091
com.denodo.license.maxRetries=3
com.denodo.license.millisecondsBetweenRetries=5000
#com.denodo.license.security.ssl.enabled=
com.denodo.license.awsCloudExecutionMode=false