###############################################################################
#                                                                             #
#                     Virtual DataPort Configuration File                     #
#                       (c) Denodo Technologies - 2018                        #
#                                                                             #
###############################################################################

# General Configuration
com.denodo.vdb.install=/opt/denodo
com.denodo.vdb.workDir=/opt/denodo/work/vdp
com.denodo.vdb.jdbcDriversDir=/opt/denodo/extensions/thirdparty/lib
com.denodo.vdb.jdbcDriversLibDir=/opt/denodo/lib/extensions/jdbc-drivers
com.denodo.vdb.jdbcDriversExternalLibDir=/opt/denodo/lib-external/jdbc-drivers
com.denodo.vdb.jarsDir=/opt/denodo/metadata/db/jar

# Server Configuration
com.denodo.vdb.vdbinterface.server.VDBManagerImpl.registryURL={{ DENODO_HOSTNAME | default('localhost') }}
com.denodo.vdb.vdbinterface.server.VDBManagerImpl.registryPort=9999
com.denodo.vdb.vdbinterface.server.VDBManagerImpl.shutdownPort=9998
com.denodo.vdb.vdbinterface.server.VDBManagerImpl.factoryPort=9997
com.denodo.vdb.vdbinterface.server.VDBManagerImpl.odbcPort=9996
com.denodo.vdb.vdbinterface.server.VDBManagerImpl.iconRoute=/opt/denodo/resources/vdp/ico

# Help files path
com.denodo.vdb.interpreter.execution.Action.help.path=/com/denodo/vdb/interpreter/parser/help/

com.denodo.vdb.catalog.view.JoinView.defaultNestedParallelNumber=5

#DBDerbyConfiguration
derby.system.home=/opt/denodo/metadata/db
com.denodo.vdb.catalog.storage.DBDerbyStorageManager.databaseName=dbmetadata

# Query Plan Optimization Strategy
com.denodo.vdb.engine.optimize.Optimizer.instanceClassName=com.denodo.vdb.engine.optimize.LowestCostOptimizer
#com.denodo.vdb.engine.optimize.Optimizer.instanceClassName=com.denodo.vdb.engine.optimize.NullOptimizer

# Thread Pool Configuration
com.denodo.vdb.engine.thread.ThreadPool.maxThreads=300
com.denodo.vdb.engine.thread.ThreadPool.expirationTime=600000
com.denodo.vdb.engine.thread.ThreadPool.sleepTime=300000
com.denodo.vdb.engine.thread.ThreadPool.timeout=43200000
com.denodo.vdb.engine.thread.ThreadPool.checkoutTime=30000
com.denodo.vdb.engine.thread.ThreadPool.cancelTimeout=300000
com.denodo.vdb.engine.wrapper.RawAccess.yieldInterval=100


# MBeans configuration
# max number of latest request stored at mbeans
com.denodo.vdb.management.mbeans.request.RequestsManagementInfo.maxRequests=0
# max number of latest transactions stored at mbeans
com.denodo.vdb.management.mbeans.request.TransactionsManagementInfo.maxTransactions=0
# max number of latest refresh cache processes stored at mbeans
com.denodo.vdb.management.mbeans.cache.DatabaseCacheManagementInfo.maxRefreshProcs=0

# the number of rows that should be fetched from the database when more rows
# are needed. If the value specified is zero, then this feature is ignored.
com.denodo.vdb.engine.wrapper.raw.jdbc.adapter.DriverAdapter.fetchSize=1000

# PostgreSQL plugin sets autocommit using the value of the following property
# when fetchSize is greater than 0
com.denodo.vdb.engine.wrapper.raw.jdbc.adapter.plugins.PostgreSQLPlugin.fetchSize.autoCommit=false

# SWAPPING CONFIGURATION

# Swapping status
com.denodo.vdb.engine.swap.SwapManager.swappingStatus=ON
# Maximum size in memory of the rows stored in a Result.
com.denodo.vdb.engine.swap.SwapManager.swappingResultMaxSizeInMB=50
# Maximum size in memory of the rows stored in an Access.
com.denodo.vdb.engine.swap.SwapManager.swappingAccessMaxSizeInMB=50
# Maximum size of the blocks stored and retrieved from disk.
com.denodo.vdb.engine.swap.SwapManager.maxBlockSizeInKB=200
#Default swap directory: workDir/swap. Uncomment to specify a different one.
#com.denodo.vdb.engine.swap.SwapManager.swapDir=../work/vdp/swap


# Metadata Paths


# Decimal Type
com.denodo.vdb.catalog.type.DecimalPrecision=38

# SIMPLE MAPS (Properties)
com.denodo.vdb.catalog.map.SimpleMap.mapPath=/opt/denodo/setup/vdp/metadata/properties/databases/
com.denodo.vdb.catalog.map.SimpleMap.mapDirectory=maps/

# MAPS
com.denodo.vdb.misc.PropertiesMap.fileMapsPath.i18n=/opt/denodo/setup/vdp/metadata/properties/i18n/

# WRAPPERS
com.denodo.vdb.catalog.wrapper.MetaWrapper.wrapperPath=/opt/denodo/metadata/db/
com.denodo.vdb.catalog.wrapper.MetaWrapper.jarDir=jar

# JARS required by WS Wrappers
com.denodo.vdb.catalog.wrapper.ws.MetaWebServiceWrapper.suntoolslibdir=/opt/denodo/lib/sun-tools
com.denodo.vdb.catalog.wrapper.ws.MetaWebServiceWrapper.axislibdir=/opt/denodo/lib/contrib
com.denodo.vdb.catalog.wrapper.ws.MetaWebServiceWrapper.axisjars=axis.jar,commons-discovery.jar,axis-jaxrpc.jar
# Default Connection for HTML Wrapper
com.denodo.parser.connection.html.ConnectionParser.defaultConnection=http.CommonsHttpClientConnection,120000
com.denodo.vdb.misc.connection.util.ConnectionParser.defaultConnection=http.CommonsHttpClientConnection,120000

# Default Driver for ODBC Wrapper
com.denodo.vdb.ODBCDriver=sun.jdbc.odbc.JdbcOdbcDriver
com.denodo.vdb.ODBCClassPath=jdbc-odbc

# USERS
com.denodo.vdb.catalog.user.User.maxCacheSize=10
com.denodo.vdb.catalog.user.User.objectTimeToLive=0
com.denodo.vdb.catalog.user.User.cacheMaintainerTaskPeriod=0

# DATABASES
com.denodo.vdb.catalog.database.Database.maxCacheSize=0
com.denodo.vdb.catalog.database.Database.objectTimeToLive=0
com.denodo.vdb.catalog.database.Database.cacheMaintainerTaskPeriod=0
com.denodo.vdb.catalog.database.Database.databasePath=/opt/denodo/metadata/db/
com.denodo.vdb.catalog.database.Database.databasePropertiesPath=/opt/denodo/metadata/db/properties/
#Administration database
com.denodo.vdb.catalog.database.Database.adminDatabase=admin

# Identifiers charset
com.denodo.vdb.catalog.database.identifiersCharset=restricted

# CONNECTION POOL

# The number of idle connections to initialize the pool with.
com.denodo.vdb.misc.datasource.JDBCDataSource.pool.initialSize=4

# The cap on the number of idle instances in the pool.
com.denodo.vdb.misc.datasource.JDBCDataSource.pool.maxIdle=-1

# The cap on the minimum number of idle instances in the pool.
com.denodo.vdb.misc.datasource.JDBCDataSource.pool.minIdle=0

# The cap on the total number of active instances from the pool.
com.denodo.vdb.misc.datasource.JDBCDataSource.pool.maxActive=20

# The maximum amount of time (in millis) the pool should block when borrow an object before throwing
# an exception when the pool is exhausted and the whenExhaustedAction is equals to 1 (EXHAUSTED_BLOCK).
com.denodo.vdb.misc.datasource.JDBCDataSource.pool.maxWait=30000

# The default "when exhausted action" for the pool
# (EXHAUSTED_FAIL = 0), (EXHAUSTED_BLOCK  = 1), (EXHAUSTED_GROW = 2)
com.denodo.vdb.misc.datasource.JDBCDataSource.pool.whenExhaustedAction=1

# When true, connection will be validated before being borrowed by the pool.
com.denodo.vdb.misc.datasource.JDBCDataSource.pool.testOnBorrow=true

# When true, connection will be validated before being eing returned to the pool.
com.denodo.vdb.misc.datasource.JDBCDataSource.pool.testOnReturn=false

# When true, connection will be validated while it is idle in the pool.
com.denodo.vdb.misc.datasource.JDBCDataSource.pool.testWhileIdle=false

# The number of milliseconds to sleep between runs of the idle test.
com.denodo.vdb.misc.datasource.JDBCDataSource.pool.timeBetweenEvictionRunsMillis=-1

# The number of objects to examine during each run of the idle object evictor thread
# When a negative value is supplied, ceil(numIdle}/abs(numTestsPerEvictionRun)
# tests will be run
com.denodo.vdb.misc.datasource.JDBCDataSource.pool.numTestsPerEvictionRun=3

# The minimum amount of time an object may sit idle in the pool
# before it is eligible for eviction by the idle object evictor.
com.denodo.vdb.misc.datasource.JDBCDataSource.pool.minEvictableIdleTimeMillis=1800000

# Ping Query. For testing pool connections.
com.denodo.vdb.misc.datasource.JDBCDataSource.pool.pingQuery=

# Enable or disable prepared statements pool. (true = enable)
com.denodo.vdb.misc.datasource.JDBCDataSource.pool.poolPreparedStatements=false

# The cap on the number of "sleeping" instances in each pool.
com.denodo.vdb.misc.datasource.JDBCDataSource.pool.maxSleepingPreparedStatements=4

# Default initial size for the prepared statements pool.
com.denodo.vdb.misc.datasource.JDBCDataSource.pool.initialCapacityPreparedStatements=8

# WS Connection Pool
com.denodo.vdb.misc.datasource.WebServiceDataSource.connectionPoolTimeout=0
com.denodo.vdb.misc.datasource.WebServiceDataSource.maxTotalConnections=50
com.denodo.vdb.misc.datasource.WebServiceDataSource.connectionPoolReadTimeout=43200000

# Internacionalization Configuration
com.denodo.vdb.misc.I18nParametersManager.i18nDefault=us_utc_iso
com.denodo.vdb.misc.I18nParametersManager.useI18nOnCast=false
com.denodo.vdb.misc.I18nParametersManager.prefixFileName=i18n_
com.denodo.vdb.misc.I18nParametersManager.cacheClassName=com.denodo.util.cache.MapCache
#com.denodo.vdb.misc.I18nParametersManager.cachePropertiesFile=

# Basic Query Transformations
com.denodo.vdb.interpreter.execution.transformations.TransformationManager.transformations.file=Transformations.xml

# Maximum Length for Identifiers
com.denodo.vdb.catalog.Catalog.identifiersMaxLength=100

# The distance metrics strategy
com.denodo.vdb.util.TextualSimilarity.distanceMetric=JaroWinklerTFIDF

com.denodo.vdb.engine.wrapper.vdb.BindingJoinAccess.defaultBlockSize=200
com.denodo.vdb.engine.wrapper.vdb.BindingJoinAccess.JDBCdefaultBlockSize=200
com.denodo.vdb.engine.wrapper.vdb.BindingJoinAccess.LDAPdefaultBlockSize=200

# Concurrent queries limit
com.denodo.vdb.interpreter.execution.processor.VDBActionProcessor.concurrentQueriesLimit=OFF
# Maximum concurrent queries
com.denodo.vdb.interpreter.execution.processor.VDBActionProcessor.maxConcurrentQueries=100
# Waiting queries limit
com.denodo.vdb.interpreter.execution.processor.VDBActionProcessor.waitingQueriesLimit=OFF
# Maximum number of queries waiting to be executed
com.denodo.vdb.interpreter.execution.processor.VDBActionProcessor.maxWaitingQueries=500

# Default timeouts for stored procedure queries.
storedProcedures.defaultQueryTimeout=80000
storedProcedures.defaultChunkTimeout=80000
storedProcedures.defaultChunkSize=100

# If true, stored procedures validates if a jdbc driver supports catalogs or schemas
storedProcedures.validateSchemaAndCatalog=true

# Lucene analyzers class name mapping
com.denodo.util.lucene.analysis.Analyzer.es=com.denodo.util.lucene.analysis.es.SpanishAnalyzer
com.denodo.util.lucene.analysis.Analyzer.en=com.denodo.util.lucene.analysis.en.EnglishAnalyzer
com.denodo.util.lucene.analysis.Analyzer.std=com.denodo.util.lucene.analysis.StandardAnalyzer

# Maximum number of fragments returned by the CONTEXTUALSUMMARY function
com.denodo.vdb.catalog.view.function.FunctionCONTEXTUALSUMMARY.defaultMaxFragments=1000

# If true, tries to execute the cross join as inner join using the conditions in the WHERE clause
com.denodo.vdb.engine.query.SubQuery.optimizeCrossJoin=true

# Determines if the view plans are propagated. Values: true, false
com.denodo.vdb.catalog.view.MetaSearchMethod.calculateViewPlans=true

# If false, the execution plan is not sent to the client when an error happens.
com.denodo.vdb.interpreter.execution.SelectAction.sendTraceOnError=true

# Maximum size in MB of a queue of rows in an intermediate result
com.denodo.vdb.engine.RowQueueSizeInMB=10

# Percentage of the queue that must be empty before notifying to the queue producers
com.denodo.vdb.engine.RowQueueNotifyPercent=0.2

# WS socket timeout
com.denodo.vdb.misc.connection.ws.SocketTimeoutMillis=1800000

# Support for interval types in date operations
com.denodo.vdb.engine.query.intervalDateSupport=true

# Transaction timeouts (seconds)
com.denodo.vdb.engine.session.transactionTimeout=1800
com.denodo.vdb.engine.session.inactiveTransactionTimeout=30

# Ping data source
com.denodo.vdb.management.mbeans.datasource.ping.timeout=15000
com.denodo.vdb.management.mbeans.datasource.ping.threadPool.coreSize=8
com.denodo.vdb.management.mbeans.datasource.ping.threadPool.maxSize=16
com.denodo.vdb.management.mbeans.datasource.ping.threadPool.keepAlive=90000
com.denodo.vdb.management.mbeans.datasource.ping.threadPool.queueSize=50

# Parallel processing parameters
queryOptimization.parallelProcessing.enabled=false
queryOptimization.parallelProcessing.dataSource=cache
queryOptimization.parallelProcessing.customDataSource.databaseName=
queryOptimization.parallelProcessing.customDataSource.dataSourceName=

###############################################################################
#  Cache Configuration Parameters                                             #
###############################################################################

# View Cache Manager Strategy
com.denodo.vdb.cache.AbstractViewCacheManager.instanceClassName=com.denodo.vdb.cache.ViewCacheManager
com.denodo.vdb.cache.cacheStatus=OFF

# Cache DataSource Name
com.denodo.vdb.cache.jdbc.cacheDataSourceName=vdpcachedatasource
com.denodo.vdb.cache.jdbc.cacheDatabaseDataSourceName=admin
com.denodo.vdb.cache.jdbc.customCacheDataSourceName=customvdpcachedatasource

# Memory Cache Class for Caching View Objects
com.denodo.vdb.cache.ViewCacheManager.cacheClassName=com.denodo.util.cache.MapCache


# View Memory Cache Parameters
com.denodo.vdb.cache.ViewCacheManager.maxCacheSize=10
com.denodo.vdb.cache.ViewCacheManager.objectTimeToLive=180
com.denodo.vdb.cache.ViewCacheManager.cacheMaintainerTaskPeriod=240

# Max number of rows inserted in a batch call
com.denodo.vdb.engine.wrapper.raw.jdbc.batchInsertSize=200
com.denodo.vdb.engine.wrapper.raw.jdbc.netezza.batchInsertSize=10000
com.denodo.vdb.engine.wrapper.raw.jdbc.sqlserver.batchInsertSize=1000
com.denodo.vdb.engine.wrapper.raw.jdbc.redshift.batchInsertSize=50000

com.denodo.vdb.engine.wrapper.raw.jdbc.redshift.bulkLoad.batchInsertSize=500000
com.denodo.vdb.engine.wrapper.raw.jdbc.snowflake.bulkLoad.batchInsertSize=500000
com.denodo.vdb.engine.wrapper.raw.jdbc.impala.bulkLoad.batchInsertSize=5000000
com.denodo.vdb.engine.wrapper.raw.jdbc.hive.bulkLoad.batchInsertSize=5000000
com.denodo.vdb.engine.wrapper.raw.jdbc.spark.bulkLoad.batchInsertSize=5000000
com.denodo.vdb.engine.wrapper.raw.jdbc.presto.bulkLoad.batchInsertSize=5000000

# Number of rows that are fetched from the database when more rows are needed. 
com.denodo.vdb.cache.jdbc.fetchSize=1000

# Default TTL for every view in cache
com.denodo.vdb.cache.timeToLiveInSecs=3600

# Cache Maintainer Task Period in seconds.
# If equals to 0, then cache maintainer task is never executed.
com.denodo.vdb.cache.cacheMaintainerPeriodInSecs=21600
com.denodo.vdb.cache.cacheMaintenance=ON
com.denodo.vdb.cache.jdbc.manager.JDBCCacheManager.cleanTables=true

# Derby cache parameters
com.denodo.vdb.cache.jdbc.derbyCacheRemoteAccess=OFF
com.denodo.vdb.cache.jdbc.derbyCachePort=1527

# Maximum time that rows can remain in processing state
com.denodo.vdb.cache.processingTimeToLiveInSecs=86400

# Maximum time in milliseconds that temporary tables can last into cache
com.denodo.vdb.cache.jdbc.temporalTablesTimeout=172800000

# Maximum size in memory of a query (MB)
com.denodo.vdb.engine.resource.queryMemoryLimit=200

###############################################################################
#  ODBC Configuration Parameters                                              #
###############################################################################

# I18n for ODBC adapter
com.denodo.vdb.vdbinterface.server.odbc.i18nCode=us_utc_iso
# Data buffer size for ODBC queries
com.denodo.vdb.vdbinterface.server.odbc.dataBufferSize=1048576
# Chunk size for ODBC connections
com.denodo.vdb.vdbinterface.server.odbc.connection.chunkSize=1000
# Chunk timeout for ODBC connections
com.denodo.vdb.vdbinterface.server.odbc.connection.chunkTimeout=90000
# Query timeout for ODBC connections
com.denodo.vdb.vdbinterface.server.odbc.connection.queryTimeout=900000
# Error max length for ODBC queries
com.denodo.vdb.vdbinterface.server.odbc.errorMaxLength=200

###############################################################################
# Http Configuration Parameters                                               #
###############################################################################

com.denodo.vdb.proxy.proxyStatus=OFF
com.denodo.vdb.proxy.proxyHost=
com.denodo.vdb.proxy.proxyPort=
com.denodo.vdb.proxy.proxyUser=
com.denodo.vdb.proxy.proxyPassword=
com.denodo.vdb.proxy.proxyPacUri=
com.denodo.vdb.http.referer=
com.denodo.vdb.http.userAgent=

###############################################################################
#  Web Services Generator Configuration Parameters                            #
###############################################################################
# Web Container
com.denodo.tomcat.webapps=export,denodo-restfulws,denodo-odata4-service
com.denodo.webcontainer.startonstartup=on

# WSGenerator working Directory.
com.denodo.wsgenerator.workDir=/opt/denodo/work/vdp

# Parameters needed by wsdl2java
com.denodo.vdb.wsgenerator.common.suntoolslibdir=/opt/denodo/lib/sun-tools
com.denodo.vdb.wsgenerator.common.axislibdir=/opt/denodo/lib/contrib
com.denodo.vdb.wsgenerator.common.axisjars=axis.jar,commons-discovery.jar,axis-jaxrpc.jar

# Base lib directory
com.denodo.vdb.wsgenerator.common.baselibdir=/opt/denodo/lib

# Jars needed for java compilation
com.denodo.vdb.wsgenerator.common.compilationjars=contrib/commons-logging.jar,contrib/denodo-commons-interpolator.jar,contrib/log4j-api.jar,contrib/log4j-core.jar,contrib/wss4j.jar,contrib/denodo-vdp-wsgenerator-runtime.jar,contrib/commons-betwixt.jar,contrib/commons-beanutils.jar,vdp-client-core/denodo-vdp-client.jar,../resources/apache-tomcat/lib/servlet-api.jar

# Jars needed for war creation
com.denodo.vdb.wsgenerator.common.warjars=contrib/opensaml-core.jar,contrib/opensaml-saml-api.jar,contrib/opensaml-saml-impl.jar,contrib/java-support.jar,contrib/metrics-core.jar,contrib/Saxon-HE.jar,contrib/denodo-commons-interpolator.jar,contrib/log4j-api.jar,contrib/log4j-core.jar,contrib/wss4j.jar,contrib/xmlsec.jar,contrib/denodo-vdp-wsgenerator-runtime.jar,contrib/axis.jar,contrib/commons-discovery.jar,contrib/commons-betwixt.jar,contrib/commons-beanutils.jar,contrib/commons-digester.jar,contrib/axis-jaxrpc.jar,contrib/commons-collections.jar,contrib/commons-collections4.jar,contrib/commons-logging.jar,contrib/commons-lang.jar,contrib/java_cup_runtime.jar,contrib/commons-pool.jar,contrib/wsdl4j.jar,contrib/denodo-commons-util-web.jar,vdp-client-core/denodo-vdp-client.jar,contrib/commons-codec.jar,contrib/icu4j.jar,contrib/jms.jar,contrib/stax.jar,contrib/jackson-core.jar,contrib/jackson-databind.jar
com.denodo.vdb.wsgenerator.common.tomcatjars=contrib/axis.jar,contrib/denodo-vdp-wsgenerator-runtime.jar,contrib/wss4j.jar
com.denodo.vdb.wsgenerator.common.resourcesdir=/opt/denodo/resources/db/wsgenerator
com.denodo.vdb.wsgenerator.common.log4j2file=log4j2.xml
com.denodo.vdb.wsgenerator.common.cssfile=default.css
com.denodo.vdb.wsgenerator.common.webxmltemplate=web.xml.template
com.denodo.vdb.wsgenerator.common.indexhtmltemplate=index.html.template
com.denodo.vdb.wsgenerator.common.portlet168xmltemplate=portlet.portletv168.xml.template
com.denodo.vdb.wsgenerator.common.portlet286xmltemplate=portlet.portletv286.xml.template

###############################################################################
#  RESTful Web Service Configuration Parameters                               #
###############################################################################
com.denodo.wsgenerator.restfulws.jarsForInternalDeployments=denodo-vdp-wsgenerator-runtime,jackson-jaxrs-json-provider,swagger-jaxrs
com.denodo.wsgenerator.restfulws.warFile=/opt/denodo/webapps/denodo-restfulws/denodo-restfulws.war
com.denodo.wsgenerator.restfulws.timezone=GMT
com.denodo.wsgenerator.restfulws.cors.supportedMethods=GET, POST, PUT, DELETE, HEAD, OPTIONS
com.denodo.wsgenerator.restfulws.cors.supportedHeaders=Accept, Accept-Language, Authorization, Cache-Control, Content-Language, Content-Type, X-Requested-With
com.denodo.wsgenerator.restfulws.cors.exposedHeaders=Accept-Ranges, Access-Control-Allow-Credentials, Access-Control-Allow-Origin, Cache-Control, Content-Language, Content-Length, Content-Type, Date, ETag, Expires, Last-Modified, Location, Pragma, Server, Transfer-Encoding, Vary, WWW-Authenticate
com.denodo.wsgenerator.restfulws.cors.supportsCredentials=true
com.denodo.wsgenerator.restfulws.cors.maxAge=1800
com.denodo.wsgenerator.restfulws.externalEntities=other_settings.xml,connection_settings.xml,cors_settings.xml

###############################################################################
#  Widget Export Configuration Parameters                                     #
###############################################################################

com.denodo.wsgenerator.widget.portlet.editmodeenabled=true
com.denodo.wsgenerator.widget.portlet.cache.expirationtime=30
com.denodo.wsgenerator.widget.portlet.cache.scope=PRIVATE
#com.denodo.wsgenerator.widget.portlet.cache.scope=PRIVATE
com.denodo.wsgenerator.widget.portlet.portletjars=contrib/denodo-commons-interpolator.jar,portlet-client-core/denodo-vdp-wsgenerator-portlet-client.jar,contrib/denodo-vdp-wsgenerator-runtime.jar,contrib/commons-discovery.jar,contrib/commons-betwixt.jar,contrib/commons-beanutils.jar,contrib/commons-digester.jar,contrib/commons-collections.jar,contrib/commons-collections4.jar,contrib/commons-logging.jar,contrib/commons-lang.jar,contrib/java_cup_runtime.jar,contrib/commons-pool.jar,contrib/denodo-commons-util-web.jar,vdp-client-core/denodo-vdp-client.jar,contrib/log4j-api.jar,contrib/log4j-core.jar,contrib/jstl-api.jar,contrib/taglibs-standard-impl.jar,contrib/taglibs-standard-jstlel.jar,contrib/commons-codec.jar,contrib/icu4j.jar,contrib/stax.jar
com.denodo.wsgenerator.widget.webpartdir=/opt/denodo/resources/db/wsgenerator/widget/webpart

###############################################################################
#  Java Security Parameters                                                   #
###############################################################################
{% if DENODO_SSL_ENABLED is defined and DENODO_SSL_ENABLED == 'true' %}
com.denodo.security.ssl.enabled=true
com.denodo.security.ssl.keyStore={{ DENODO_SSL_KEYSTORE | default('') }}
com.denodo.security.ssl.keyStorePassword={{ DENODO_SSL_KEYSTORE_PASSWORD | default('') }}
#com.denodo.security.ssl.keyStorePassword.encrypted=
{% if DENODO_SSL_TRUSTSTORE is defined %}
com.denodo.security.ssl.trustStore={{ DENODO_SSL_TRUSTSTORE | default('') }}
com.denodo.security.ssl.trustStorePassword={{ DENODO_SSL_TRUSTSTORE_PASSWORD | default('') }}
#com.denodo.security.ssl.trustStorePassword.encrypted=
{% endif %}
{% endif %}

###############################################################################
#  Parser Configuration Parameters                                            #
###############################################################################

# Relative Paths to class directory
URLBASE=/opt/denodo/
PARSERMETADATA=metadata/parser/wes/

PAQUETE_ESCANERS=com.denodo.parser.escaner.
PAQUETE_FUNCIONES=com.denodo.parser.interpolator.function.
PAQUETE_FUNCIONES_RUTAS=com.denodo.parser.interpolator.function.
PAQUETE_ACCIONES=com.denodo.parser.action.

JUEGO_POR_DEFECTO=STANDARD
NOMBRE_NIVELES_POR_DEFECTO=Level_
NOMBRE_PATRONES_POR_DEFECTO=Pattern_

PARSER_RELOAD_DIR=/opt/denodo/extensions/dev/target/classes_wes/

Parser.TagSets.Attributes=ALL

GenericLexerFactory/className=com.denodo.parser.escaner.GenericFullLexer4_6

TokenMarca/visibleTags=SELECT,IMG,MAP,BUTTON,TEXTAREA,INPUT

###############################################################################
#  IEBrowser Configuration Parameters                                         #
###############################################################################

### Parameters to locate remote pool from IEBrowserConnection
### (if it is nos specified, default local pool is created) ###
IEBrowserConnection.POOL_HOST=%{SERVERPOOL_HOST}
IEBrowserConnection.POOL_PORT=%{SERVERPOOL_PORT}
IEBrowserConnection.POOL_NAME=RemoteIEBrowserPoolImpl
IEBrowserConnection.charsetName=UTF-8

###############################################################################
#  Http Configuration Parameters                                              #
###############################################################################

IEBrowser.NOCACHE=0
IEBrowser.MAX_DOWNLOAD_TIME=60000
IEBrowser.NOSCRIPT=0
IEBrowser.PROXY_PASSWORD=
IEBrowser.PROXY_LOGIN=
IEBrowser.PROXY_DOMAIN=

IEBrowserPool.REUSABLE_OBJECTS=false
ObjectPool.ASSIGNMENT_STRATEGY.3=SimplePoolAsignationStrategy

JSBrowser.CACHE_SIZE=150
JSBrowser.CACHE_TTL=3600000
JSBrowser.CACHE_TTL_CHECK_DELAY=3600000

ObjectPool.MAX_POOLSIZE=250

###############################################################################
#  MaxLen of Oracle PL\SQL Tables                                             #
###############################################################################
com.denodo.vdb.engine.wrapper.raw.jdbc.adapter.plugins.OraclePlugin.storedProcedure.table.maxlen=100
com.denodo.vdb.engine.wrapper.raw.jdbc.adapter.plugins.OraclePlugin.storedProcedure.register.maxlen=512


###############################################################################
#  ITPilot Other                                                              #
###############################################################################

ITPCore.CUSTOM_FUNCTION_LOCATOR=com.denodo.vdb.engine.wrapper.raw.html.customfunctions.ScriptAccessCustomFunctionLocator

com.denodo.itp.admin.custom.components.dir=/opt/denodo/metadata/itp-custom-components-wes

# Temp directory
ITPilot.tempDirectory=/opt/denodo/temp

###############################################################################
#  ITPilot Converters                                                         #
###############################################################################

Converter.tempDirectory=/opt/denodo/temp
# Converter word to html
ConverterWordToHtmlFactory.converterClassName=com.denodo.util.converters.word.OOConverterWordToHtml
# Converter excel to html
ConverterExcelToHtmlFactory.converterClassName=com.denodo.util.converters.excel.OOConverterExcelToHtml
# Converter pdf to html
ConverterPdfToHtmlFactory.converterClassName=com.denodo.util.converters.pdf.TextAcrobatConverterPdfToHtml

ConverterWordToHtmlFactory.converterLibDir=Open_Office_Install_Dir/program/classes,Open_Office_Install_Dir/URE/java,Open_Office_Install_Dir/program,Open_Office_Install_Dir/Basis/program/classes
ConverterExcelToHtmlFactory.converterLibDir=Open_Office_Install_Dir/program/classes,Open_Office_Install_Dir/URE/java,Open_Office_Install_Dir/program,Open_Office_Install_Dir/Basis/program/classes
ConverterPDFToHtmlFactory.converterLibDir=$ITP_ACROBAT_HOME/Acrobat/plug_ins
OOConverter.requiredJars=ridl.jar,jurt.jar,juh.jar,java_uno.jar,unoloader.jar,unoil.jar
OOConverter.OpenOfficeDirectory=Open_Office_Install_Dir

#Implementation class for a xslt transformation
com.denodo.vdb.catalog.view.function.FunctionXSLT.transImpl=net.sf.saxon.TransformerFactoryImpl

#Implementation class for a xpath transformation
com.denodo.vdb.catalog.view.function.FunctionXPATH.transImpl=org.apache.xalan.processor.TransformerFactoryImpl
com.denodo.vdb.catalog.view.function.FunctionXPATH.xpathImpl=org.apache.xpath.jaxp.XPathFactoryImpl
com.denodo.vdb.catalog.view.function.FunctionXPATH2.transImpl=net.sf.saxon.TransformerFactoryImpl
com.denodo.vdb.catalog.view.function.FunctionXPATH2.xpathImpl=net.sf.saxon.xpath.XPathFactoryImpl

###############################################################################
#  HTTP Pool connections                                                      #
###############################################################################
com.denodo.parser.connection.http.maxConnectionsPerHost=100
com.denodo.parser.connection.http.maxTotalConnections=500
com.denodo.parser.connection.http.connection.manager.timeout=120000
com.denodo.parser.connection.http.testOnBorrow=false
com.denodo.parser.connection.http.minEvictableIdleTimeMillis=10000
com.denodo.parser.connection.http.ntlm.maxConnectionsPerHost=50
com.denodo.parser.connection.http.ntlm.maxTotalConnections=100
com.denodo.parser.connection.http.ntlm.maxCredentials=50

###############################################################################
#  LDAP - PageSize                                                            #
###############################################################################
com.denodo.vdb.engine.wrapper.raw.ldap.LDAPAccess.LDAPDefaultPageSize=1000

###############################################################################
#  LDAP - Connection Pool                                                     #
###############################################################################
com.denodo.vdb.misc.datasource.LDAPDataSource.pool.initialSize=1
com.denodo.vdb.misc.datasource.LDAPDataSource.pool.maxActive=20
com.denodo.vdb.misc.datasource.LDAPDataSource.pool.prefSize=0
com.denodo.vdb.misc.datasource.LDAPDataSource.pool.connectionTimeout=30000
com.denodo.vdb.misc.datasource.LDAPDataSource.pool.minEvictableIdleTimeMillis=1800000

###############################################################################
#  DF - Maximum characters per line                                                                                   #
###############################################################################
com.denodo.vdb.engine.wrapper.raw.df.row.maxlen=512000

###############################################################################
#  OLAP - Connection Pool                                                     #
###############################################################################
com.denodo.vdb.misc.datasource.OLAPDataSource.pool.initialSize=2
com.denodo.vdb.misc.datasource.OLAPDataSource.pool.maxIdle=2
com.denodo.vdb.misc.datasource.OLAPDataSource.pool.minIdle=2
com.denodo.vdb.misc.datasource.OLAPDataSource.pool.maxActive=20
com.denodo.vdb.misc.datasource.OLAPDataSource.pool.maxWait=30000
com.denodo.vdb.misc.datasource.OLAPDataSource.pool.whenExhaustedAction=1
com.denodo.vdb.misc.datasource.OLAPDataSource.pool.testOnBorrow=false
com.denodo.vdb.misc.datasource.OLAPDataSource.pool.testOnReturn=false
com.denodo.vdb.misc.datasource.OLAPDataSource.pool.testWhileIdle=false
com.denodo.vdb.misc.datasource.OLAPDataSource.pool.timeBetweenEvictionRunsMillis=-1
com.denodo.vdb.misc.datasource.OLAPDataSource.pool.numTestsPerEvictionRun=3
com.denodo.vdb.misc.datasource.OLAPDataSource.pool.minEvictableIdleTimeMillis=1800000
com.denodo.vdb.misc.datasource.OLAPDataSource.pool.pingQuery=

###############################################################################
#  JVM options                                                                #
###############################################################################

java.env.DENODO_OPTS_START=-mx1024m -XX\:NewRatio=4
java.env.DENODO_OPTS_STOP=

###############################################################################
#  Service wrapper options                                                    #
###############################################################################

service.wrapper.WRAPPER_PING_INTERVAL=30
service.wrapper.WRAPPER_PING_TIMEOUT=150

###############################################################################
#  Essbase options                                                            #
###############################################################################
com.denodo.vdb.essbasePluginsDir=/opt/denodo/lib/extensions/essbase-plugins
com.denodo.vdb.essbaseDriversDir=/opt/denodo/lib/extensions/essbase-drivers
com.denodo.essbaseJarName=denodo-essbase

###############################################################################
#  Hive Options                                                               #
###############################################################################
# Disable query cancel for older versions of hive
com.denodo.vdb.engine.wrapper.raw.jdbc.adapter.plugins.HiveStandardPlugin.cancelStatementsEnabled.12=false
com.denodo.vdb.engine.wrapper.raw.jdbc.adapter.plugins.HiveStandardPlugin.cancelStatementsEnabled.11=false
com.denodo.vdb.engine.wrapper.raw.jdbc.adapter.plugins.HiveStandardPlugin.cancelStatementsEnabled.10=false
com.denodo.vdb.engine.wrapper.raw.jdbc.adapter.plugins.HiveStandardPlugin.cancelStatementsEnabled.071=false

###############################################################################
#  POI SAX CustomWrapper                                                      #
###############################################################################
com.denodo.vdb.contrib.wrapper.xls.event.content.introspection.maxrows=1000

###############################################################################
#  VCS options                                                                #
###############################################################################
com.denodo.vdb.vdbinterface.server.vcs.VCSConfigurationManager.user=
com.denodo.vdb.vdbinterface.server.vcs.VCSConfigurationManager.system=
com.denodo.vdb.vdbinterface.server.vcs.VCSConfigurationManager.url=
com.denodo.vdb.vdbinterface.server.vcs.VCSConfigurationManager.environment=
com.denodo.vdb.vdbinterface.server.vcs.VCSConfigurationManager.useVCS=
com.denodo.vdb.vdbinterface.server.vcs.VCSConfigurationManager.password=
com.denodo.vdb.vdbinterface.server.vcs.VCSConfigurationManager.useUserAndPassword=
com.denodo.vdb.vdbinterface.server.vcs.VCSConfigurationManager.encryptedPassword=
com.denodo.vdb.vdbinterface.server.vcs.VCSConfigurationManager.localRepositoriesHome=/opt/denodo/work/vdp/repository
com.denodo.vdb.vdbinterface.server.vcs.VCSConfigurationManager.lsopt=1
com.denodo.vdb.vdbinterface.server.vcs.VCSConfigurationManager.uniquenessConflictsDetection=0
com.denodo.vdb.vdbinterface.server.vcs.VCSConfigurationManager.uniquenessConflictsDetection.tfs=3
com.denodo.vdb.vdbinterface.server.vcs.VCSConfigurationManager.uniquenessConflictsDetection.svn=1
com.denodo.vdb.vdbinterface.server.vcs.VCSConfigurationManager.uniquenessConflictsDetection.git=3
com.denodo.vdb.vdbinterface.server.vcs.VCSConfigurationManager.defaultQueryTimeout=80000
com.denodo.vdb.vdbinterface.server.vcs.VCSConfigurationManager.defaultChunkTimeout=80000
com.denodo.vdb.vdbinterface.server.vcs.VCSConfigurationManager.defaultChunkSize=100

###############################################################################
#  Table manager options                                                      #
###############################################################################
com.denodo.vdb.util.tablemanagement.blockDelete.loopSize=100
com.denodo.vdb.util.tablemanagement.blockDelete.blockSize=100000

###############################################################################
#  JMS parameters                                                             #
###############################################################################
jmslistener.defaultChunkSize = 1000
jmslistener.queryTimeout = 90000
jmslistener.chunkTimeout = 9000

###############################################################################
#  Cost optimizer parameters                                                  #
###############################################################################

# Parameter to enable the Automatic cost-based optimization
com.denodo.vdb.interpreter.execution.SelectAction.costoptimization=false

# Default blockSize in KB
com.denodo.vdb.engine.costoptimizer.blockSize=8
# Default multiBlockReadCount in number of blocks
com.denodo.vdb.engine.costoptimizer.multiBlockReadCount=8
# Default transfer Rate Scale Factor. Default value 1 corresponds with a JDBC database accessible through a conventional 100 Mbps LAN
com.denodo.vdb.engine.costoptimizer.transferRateFactor=1.0
# Default readRate in I/O operations/millisecond
com.denodo.vdb.engine.costoptimizer.readRate=1
# Default initTime in millisencods
com.denodo.vdb.engine.costoptimizer.initTime=5

# Parameter initTime by data source type in millisencods
com.denodo.vdb.engine.costoptimizer.initTime.ws=10
com.denodo.vdb.engine.costoptimizer.initTime.xml=10
com.denodo.vdb.engine.costoptimizer.initTime.json=10
com.denodo.vdb.engine.costoptimizer.initTime.df=10
com.denodo.vdb.engine.costoptimizer.initTime.saperp=10
com.denodo.vdb.engine.costoptimizer.initTime.ldap=10
com.denodo.vdb.engine.costoptimizer.initTime.itp=1000

# Default transfer Rate Scale Factor. Default value 1 corresponds with a JDBC database accessible through a conventional 100 Mbps LAN
com.denodo.vdb.engine.costoptimizer.transferRateFactor.ws=0.35
com.denodo.vdb.engine.costoptimizer.transferRateFactor.xml=0.35
com.denodo.vdb.engine.costoptimizer.transferRateFactor.json=0.35
com.denodo.vdb.engine.costoptimizer.transferRateFactor.df=0.35
com.denodo.vdb.engine.costoptimizer.transferRateFactor.saperp=0.5
com.denodo.vdb.engine.costoptimizer.transferRateFactor.ldap=0.5
com.denodo.vdb.engine.costoptimizer.transferRateFactor.itp=0.1

# Default values for netezza datasources
com.denodo.vdb.engine.costoptimizer.numProcessingUnits.jdbc.netezza.default=12
com.denodo.vdb.engine.costoptimizer.numCPUsPerProcessingUnit.jdbc.netezza.default=8
com.denodo.vdb.engine.costoptimizer.internalTransferRate.jdbc.netezza.default=29

# Default values for teradata datasources
com.denodo.vdb.engine.costoptimizer.numProcessingUnits.jdbc.teradata.default=12
com.denodo.vdb.engine.costoptimizer.numCPUsPerProcessingUnit.jdbc.teradata.default=8
com.denodo.vdb.engine.costoptimizer.internalTransferRate.jdbc.teradata.default=29

# Default values for vertica datasources
com.denodo.vdb.engine.costoptimizer.numProcessingUnits.jdbc.vertica.default=12
com.denodo.vdb.engine.costoptimizer.numCPUsPerProcessingUnit.jdbc.vertica.default=8
com.denodo.vdb.engine.costoptimizer.internalTransferRate.jdbc.vertica.default=29

# Default values for hive datasources
com.denodo.vdb.engine.costoptimizer.numProcessingUnits.jdbc.hive.default=8
com.denodo.vdb.engine.costoptimizer.numCPUsPerProcessingUnit.jdbc.hive.default=8

# Default values for impala datasources
com.denodo.vdb.engine.costoptimizer.numProcessingUnits.jdbc.impala.default=8
com.denodo.vdb.engine.costoptimizer.numCPUsPerProcessingUnit.jdbc.impala.default=8

# Default values for spark datasources
com.denodo.vdb.engine.costoptimizer.numProcessingUnits.jdbc.spark.default=8
com.denodo.vdb.engine.costoptimizer.numCPUsPerProcessingUnit.jdbc.spark.default=8

# Default values for redshift datasources
com.denodo.vdb.engine.costoptimizer.numProcessingUnits.jdbc.redshift.default=2
com.denodo.vdb.engine.costoptimizer.numCPUsPerProcessingUnit.jdbc.redshift.default=16

# Default values for snowflake datasources
com.denodo.vdb.engine.costoptimizer.numProcessingUnits.jdbc.snowflake.default=2
com.denodo.vdb.engine.costoptimizer.numCPUsPerProcessingUnit.jdbc.snowflake.default=16

# Default values for impala datasources
com.denodo.vdb.engine.costoptimizer.numProcessingUnits.jdbc.presto.default=8
com.denodo.vdb.engine.costoptimizer.numCPUsPerProcessingUnit.jdbc.presto.default=8

###############################################################################

# ARN block size
com.denodo.vdb.engine.wrapper.raw.arn.blockSize=2000

## SAPBW BAPI POOL
com.denodo.vdb.misc.datasource.SAPBWBapiDataSource.pool.maxWait=60000
com.denodo.vdb.misc.datasource.SAPBWBapiDataSource.pool.maxActive=20
com.denodo.vdb.misc.datasource.SAPBWBapiDataSource.pool.maxIdle=4
com.denodo.vdb.misc.datasource.SAPBWBapiDataSource.pool.minEvictableIdleTimeMillis=100000
com.denodo.vdb.misc.datasource.SAPBWBapiDataSource.pool.timeBetweenEvictionRunsMillis=150000

com.denodo.vdb.misc.datasource.SAPBWBapiDataSource.readBlockSize=20000
com.denodo.vdb.interpreter.execution.util.sapBWBapiUtils.filterInfoObjects=false

## SAPERP BAPI POOL
com.denodo.vdb.misc.datasource.SAPERPDataSource.pool.maxWait=60000
com.denodo.vdb.misc.datasource.SAPERPDataSource.pool.maxActive=20
com.denodo.vdb.misc.datasource.SAPERPDataSource.pool.maxIdle=4
com.denodo.vdb.misc.datasource.SAPERPDataSource.pool.minEvictableIdleTimeMillis=100000
com.denodo.vdb.misc.datasource.SAPERPDataSource.pool.timeBetweenEvictionRunsMillis=150000

## MDB cache levels enabling
com.denodo.vdb.engine.wrapper.raw.mdb.uniquenames.cache.enable=true

com.denodo.vdb.interpreter.execution.processor.VDBActionProcessor.enableAutoSingleUserMode=true

###############################################################################
# Resource manager parameters                                                 #
###############################################################################

# Parameter to enable the resource manager
com.denodo.vdb.engine.session.restriction.ResourceManagerEngine.resourceManagerStatus=ON

com.denodo.vdb.engine.session.restriction.ResourceManagerEngine.maintainerPeriodInSecs=20

###############################################################################
# Privilege parameters                                                        #
###############################################################################

# FILE privilege accesible routes (disabled, * or a list of routes delimited by | )
com.denodo.security.file.privilege.generalaccess=*
com.denodo.util.net.ProxyUtil.jars=lib/itp-runtime/js.jar,lib/contrib/denodo-commons-util.jar
com.denodo.vdb.engine.wrapper.raw.jdbc.athena.bulkLoad.batchInsertSize=500000
com.denodo.vdb.engine.wrapper.raw.jdbc.teradata.batchInsertSize=1000
com.denodo.vdb.engine.wrapper.raw.jdbc.teradata.bulkLoad.batchInsertSize=1000
